# Lists

## Lists
- A list is a collection of items, that is stored in a variable. 
- The items should be related in some way, but there are no restrictions on what can be stored in a list.

### Syntax
list-name = [list of comma seperated values]

### Slicing with list

index start with 0

 listname[index_number]

 listname[start_index:end_index]

 listname[:end_index]

 listname[start_index:]


negative index: 
 listname[:-index] 


### list methods
- append()
- len()
- insert(index,value)
- sort()
- reverse()
- pop(), pop(index)
- min(), max(), sum()


We can change the contents of the lists after its creation

listname[index]=newvalue

#### Task 1: Run below code and try to make some changes to the code

In [1]:
# list creation
countries = ['India', 'Australia', 'USA']

# print whole list
print(countries)

# Accessing list elements
print("Value at 0 index: ",countries[0])

# assignning new value to index
countries[0]='Japan'

print("New value at index 0: ",countries[0])

['India', 'Australia', 'USA']
Value at 0 index:  India
New value at index 0:  Japan

In [0]:
countries

### Iterating lists

#### Task 2: Run below code and try to make some changes to the code

In [2]:

hybridlists=['My name is',
             'I am in',
             3,
             'Semester']

print(hybridlists)

# we can access the elements of list using loops

for item in hybridlists:
    print(item)

['My name is', 'I am in', 3, 'Semester']
My name is
I am in
3
Semester

#### Task 3: Run below code and try to make some changes to the code

In [3]:
# print the index number with value

countries = ['India', 'Australia', 'USA']

for index, country in enumerate(countries):
    place = str(index)
    print("Index: " + place + ", Value: " + country.title())
    
# find index of
index = countries.index('India') 
print("\n Index of India is: ",index)

Index: 0, Value: India
Index: 1, Value: Australia
Index: 2, Value: Usa

 Index of India is:  0

#### Task 4: Run below code and try to make some changes to the code

In [4]:
# Remove the last country from the list by index or by value
del countries[2]

print(countries)

['India', 'Australia']

### List comprehension (with for loop)

#### Task 5: Run below code and try to make some changes to the code

In [5]:
# without comprehension

cubes = []
for x in [1, 2, 3, 4, 5]:
    cubes.append(x ** 3) 
    
print(cubes)

[1, 8, 27, 64, 125]

In [6]:
# with comprehension
  
cubes= [x**3 for x in [1, 2, 3, 4, 5]]
print(cubes)

[1, 8, 27, 64, 125]

In [7]:
numbers=[1,2,3,4,5,6,7,8,9,10]
list=[x for x in numbers]
list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### Program 1: Write a python program which does the following
- Make a list that includes four job types , such as 'programmer', 'truck driver' and so on
- Use the *list.index()* function to find the index of one job type in your list.
- Use the *in* function to show that this job type is in your list.
- Use the *append()* function to add a new job type to your list.
- Use the *insert()* function to add a new job type "Python Programmer" at the beginning of the list.
- Use a loop to show all the job types in your list.

In [8]:
# start writing your code after this line
job = ['programmer','truck driver','software engineer','teacher']
index = job.index('software engineer')
print(index)
job.append('comissioner')
job.insert(0,'python programmer')
print(job)

2
['python programmer', 'programmer', 'truck driver', 'software engineer', 'teacher', 'comissioner']

#### Problem 2: Write a python program for following

- Make a list that includes the names of five famous people.
- Remove each person from the list, one at a time, using the four methods given below:
    - Del item from the list by del: del listname[index]
    - Remove the item from the list by remove method: listname.remove('itemname')
    - Using pop() method, It removes the last item from the list: listname.pop() 
    - Pop any item from the list by index: listname: listname.pop(index)
- Print out a message that there are no famous people left in your list, and print your list to prove that it is empty.

In [9]:
# start writing your code after this line
famous= ['A P J Abul Kalam Azad', 'Steve Jobs', 'Elon Musk', 'Narendra Modi', 'M S Dhoni']
del famous[0]
print(famous)
famous.remove('Steve Jobs')
print(famous)
famous.pop()
print(famous)
famous.pop(0)
print(famous)

['Steve Jobs', 'Elon Musk', 'Narendra Modi', 'M S Dhoni']
['Elon Musk', 'Narendra Modi', 'M S Dhoni']
['Elon Musk', 'Narendra Modi']
['Narendra Modi']

#### Program 3: Write a python program which does the following

- Store the first ten letters of the alphabet in a list.
- Use a slice to print out the first three letters of the alphabet.
- Use a slice to print out any three letters from the middle of your list.
- Use a slice to print out the letters from any point in the middle of your list, to the end.

In [10]:
# start writing your code after this line
Alpha = ['a','b','c','d','e','f','g','h','i','j']
print(Alpha[0:2])
print(Alpha[2:5])
print(Alpha[4:9])

['a', 'b']
['c', 'd', 'e']
['e', 'f', 'g', 'h', 'i']

#### Program 4: Write a python program for following

- Your goal in this exercise is to prove that copying a list protects the original list.
- Make a list with three people's names in it.
- Use a slice to make a copy of the entire list.
- Add at least two new names to the new copy of the list.
- Make a loop that prints out all of the names in the original list, along with a message that this is the original list.
- Make a loop that prints out all of the names in the copied list, along with a message that this is the copied list.

In [11]:
l1 = ['a','b','c','d','e','f','g','h','i','j']
l2 =l1[0:9]
l2.append('h')
l2.append('k')
print(l1,"original list")
print(l2,"copied list")

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'] original list
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'h', 'k'] copied list

#### Program 5: Write a python program for following

- Create a list to store the marks of top 15 students obtained by the students in Python Quiz held on 21/08/2018. Maximum marks=15
- Print the maximum marks obtained by the student from the list.
- Print the minimum marks obtained by the student.
- Find the sum of all the marks.
- Find the average of the marks.
- Reverse the original list and display using for loop.

In [12]:
import statistics
top1 = [10, 12, 13, 14, 15]
print(max((top1)))
print(min(top1))
print(sum(top1))
print(statistics.mean(top1))
print(top1.reverse())

15
10
64
12.8
None

#### Program 6: Write a program in Python to create a list which contains n integers entered by the user and delete all odd numbers from the list. Example: If initial contents of the list is=[1,2,3,4,5,6,7,8,9,10], the output would be=[2,4,6,8,10].

In [17]:
# write your code after this line
n = int(input("Enter any number: "))
Numbers = []

for i in range(n):
  Num = int(input("Enter the number: "))
  Numbers.append(Num)

print("Initial List: ", Numbers)
lst = Numbers
for i in lst:
  if i%2 != 0:
    Numbers.remove(i)

print("Updated List: ", Numbers)

Enter any number: 2
Enter the number: 12
Enter the number: 4
Initial List:  [12, 4]
Updated List:  [12, 4]

## Optional Questions